<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_faces</key>
	<array>
		<dict>
			<key>_name</key>
			<string>face_1</string>
			<key>_previewFile</key>
			<string>shared/classic_1/1/13.png</string>
			<key>_filePrefix</key>
			<string>shared/classic_1</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>face_2</string>
			<key>_previewFile</key>
			<string>shared/classic_2/1/13.png</string>
			<key>_filePrefix</key>
			<string>shared/classic_2</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>face_3</string>
			<key>_previewFile</key>
			<string>shared/classic_3/1/13.png</string>
			<key>_filePrefix</key>
			<string>shared/classic_3</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>face_4</string>
			<key>_previewFile</key>
			<string>shared/classic_4/1/13.png</string>
			<key>_filePrefix</key>
			<string>shared/classic_4</string>
			<key>_isNew</key>
			<false/>
		</dict>
	</array>
	<key>_themeSets</key>
	<array>
		<dict>
			<key>_name</key>
			<string>theme_set_0</string>
			<key>_previewFile</key>
			<string>shared/theme_set/0.png</string>
			<key>_faceName</key>
			<string></string>
			<key>_cardbackName</key>
			<string></string>
			<key>_themeName</key>
			<string></string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>theme_set_1</string>
			<key>_previewFile</key>
			<string>shared/theme_set/1.png</string>
			<key>_faceName</key>
			<string>face_1</string>
			<key>_cardbackName</key>
			<string>cardback_1</string>
			<key>_themeName</key>
			<string>theme_1</string>
			<key>_isNew</key>
			<true/>
		</dict>
		<dict>
			<key>_name</key>
			<string>theme_set_2</string>
			<key>_previewFile</key>
			<string>shared/theme_set/2.png</string>
			<key>_faceName</key>
			<string>face_1</string>
			<key>_cardbackName</key>
			<string>cardback_2</string>
			<key>_themeName</key>
			<string>theme_2</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>theme_set_3</string>
			<key>_previewFile</key>
			<string>shared/theme_set/3.png</string>
			<key>_faceName</key>
			<string>face_3</string>
			<key>_cardbackName</key>
			<string>cardback_12</string>
			<key>_themeName</key>
			<string>theme_6</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>theme_set_4</string>
			<key>_previewFile</key>
			<string>shared/theme_set/4.png</string>
			<key>_faceName</key>
			<string>face_2</string>
			<key>_cardbackName</key>
			<string>cardback_6</string>
			<key>_themeName</key>
			<string>theme_4</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>theme_set_5</string>
			<key>_previewFile</key>
			<string>shared/theme_set/5.png</string>
			<key>_faceName</key>
			<string>face_4</string>
			<key>_cardbackName</key>
			<string>cardback_19</string>
			<key>_themeName</key>
			<string>theme_3</string>
			<key>_isNew</key>
			<false/>
		</dict>
	</array>
	<key>_cardbacks</key>
	<array>
		<dict>
			<key>_name</key>
			<string>cardback_1</string>
			<key>_previewFile</key>
			<string>shared/cardback/0.png</string>
			<key>_file</key>
			<string>shared/cardback/0.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_2</string>
			<key>_previewFile</key>
			<string>shared/cardback/1.png</string>
			<key>_file</key>
			<string>shared/cardback/1.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_3</string>
			<key>_previewFile</key>
			<string>shared/cardback/99.png</string>
			<key>_file</key>
			<string>shared/cardback/99.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_4</string>
			<key>_previewFile</key>
			<string>shared/cardback/3.png</string>
			<key>_file</key>
			<string>shared/cardback/3.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_5</string>
			<key>_previewFile</key>
			<string>shared/cardback/4.png</string>
			<key>_file</key>
			<string>shared/cardback/4.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_6</string>
			<key>_previewFile</key>
			<string>shared/cardback/5.png</string>
			<key>_file</key>
			<string>shared/cardback/5.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_7</string>
			<key>_previewFile</key>
			<string>shared/cardback/6.png</string>
			<key>_file</key>
			<string>shared/cardback/6.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_8</string>
			<key>_previewFile</key>
			<string>shared/cardback/7.png</string>
			<key>_file</key>
			<string>shared/cardback/7.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_9</string>
			<key>_previewFile</key>
			<string>shared/cardback/8.png</string>
			<key>_file</key>
			<string>shared/cardback/8.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_10</string>
			<key>_previewFile</key>
			<string>shared/cardback/9.png</string>
			<key>_file</key>
			<string>shared/cardback/9.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_11</string>
			<key>_previewFile</key>
			<string>shared/cardback/10.png</string>
			<key>_file</key>
			<string>shared/cardback/10.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_12</string>
			<key>_previewFile</key>
			<string>shared/cardback/11.png</string>
			<key>_file</key>
			<string>shared/cardback/11.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_13</string>
			<key>_previewFile</key>
			<string>shared/cardback/12.png</string>
			<key>_file</key>
			<string>shared/cardback/12.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_14</string>
			<key>_previewFile</key>
			<string>shared/cardback/13.png</string>
			<key>_file</key>
			<string>shared/cardback/13.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_15</string>
			<key>_previewFile</key>
			<string>shared/cardback/14.png</string>
			<key>_file</key>
			<string>shared/cardback/14.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_16</string>
			<key>_previewFile</key>
			<string>shared/cardback/15.png</string>
			<key>_file</key>
			<string>shared/cardback/15.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_17</string>
			<key>_previewFile</key>
			<string>shared/cardback/16.png</string>
			<key>_file</key>
			<string>shared/cardback/16.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_18</string>
			<key>_previewFile</key>
			<string>shared/cardback/17.png</string>
			<key>_file</key>
			<string>shared/cardback/17.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_19</string>
			<key>_previewFile</key>
			<string>shared/cardback/18.png</string>
			<key>_file</key>
			<string>shared/cardback/18.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_20</string>
			<key>_previewFile</key>
			<string>shared/cardback/19.png</string>
			<key>_file</key>
			<string>shared/cardback/19.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_21</string>
			<key>_previewFile</key>
			<string>shared/cardback/20.png</string>
			<key>_file</key>
			<string>shared/cardback/20.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_22</string>
			<key>_previewFile</key>
			<string>shared/cardback/21.png</string>
			<key>_file</key>
			<string>shared/cardback/21.png</string>
			<key>_isNew</key>
			<true/>
		</dict>
		<dict>
			<key>_name</key>
			<string>cardback_23</string>
			<key>_previewFile</key>
			<string>shared/cardback/22.png</string>
			<key>_file</key>
			<string>shared/cardback/22.png</string>
			<key>_isNew</key>
			<true/>
		</dict>
	</array>
	<key>_themes</key>
	<array>
		<dict>
			<key>_name</key>
			<string>theme_1</string>
			<key>_bgFile</key>
			<string>shared/theme/0.jpg</string>
			<key>_previewFile</key>
			<string>shared/theme/0.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>theme_2</string>
			<key>_bgFile</key>
			<string>shared/theme/1.jpg</string>
			<key>_previewFile</key>
			<string>shared/theme/1.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>theme_3</string>
			<key>_bgFile</key>
			<string>shared/theme/2.jpg</string>
			<key>_previewFile</key>
			<string>shared/theme/2.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>theme_4</string>
			<key>_bgFile</key>
			<string>shared/theme/3.jpg</string>
			<key>_previewFile</key>
			<string>shared/theme/3.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>theme_5</string>
			<key>_bgFile</key>
			<string>shared/theme/4.jpg</string>
			<key>_previewFile</key>
			<string>shared/theme/4.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>theme_6</string>
			<key>_bgFile</key>
			<string>shared/theme/5.jpg</string>
			<key>_previewFile</key>
			<string>shared/theme/5.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>theme_7</string>
			<key>_bgFile</key>
			<string>shared/theme/6.jpg</string>
			<key>_previewFile</key>
			<string>shared/theme/6.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>theme_8</string>
			<key>_bgFile</key>
			<string>shared/theme/7.jpg</string>
			<key>_previewFile</key>
			<string>shared/theme/7.png</string>
			<key>_isNew</key>
			<false/>
		</dict>
		<dict>
			<key>_name</key>
			<string>theme_9</string>
			<key>_bgFile</key>
			<string>shared/theme/8.jpg</string>
			<key>_previewFile</key>
			<string>shared/theme/8.png</string>
			<key>_isNew</key>
			<true/>
		</dict>
		<dict>
			<key>_name</key>
			<string>theme_10</string>
			<key>_bgFile</key>
			<string>shared/theme/9.jpg</string>
			<key>_previewFile</key>
			<string>shared/theme/9.png</string>
			<key>_isNew</key>
			<true/>
		</dict>
		<dict>
			<key>_name</key>
			<string>theme_11</string>
			<key>_bgFile</key>
			<string>shared/theme/10.jpg</string>
			<key>_previewFile</key>
			<string>shared/theme/10.png</string>
			<key>_isNew</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
